
.crb-style .sheet-content .character .character-details .alignment select {
    font-size: 10px !important;
}

.crb-style aside .sidebar .plaque {
    font-size: 12px !important;
}

.crb-style .sheet-content .character .ability-scores .ability .ability-id {
    font-size: 24px !important;
}

.shield.ac > label {
    font-size: 12px !important;
}

.shield.hp > label {
    font-size: 12px !important;
}

.save-rank > h4 > span {
    font-size: 6px !important;
}

li.skill-grid .skill-score {
    font-size: 20px; !important;
}

li.skill-grid .skill-name {
    font-size: 12px !important;
}

.spell-school {
    font-size: 12px !important;
}

.crb-style .sheet-content .spellbook .directory-list .item .skills-list .skill-grid .skill-container.skill-proficiency .click-stat-level {
    font-size: 6px !important;
}

.crb-style .sheet-content .skills .skills-pane .skills-list .skill .skill-name, .crb-style .sheet-content .skills .skills-pane .lores-list .skill .skill-name, .crb-style .sheet-content .skills .skills-pane .martial-list .skill .skill-name {
    font-size: 12px !important;
}

.crb-style .sheet-content .skills .skills-pane .skills-list .skill .skill-score, .crb-style .sheet-content .skills .skills-pane .lores-list .skill .skill-score, .crb-style .sheet-content .skills .skills-pane .martial-list .skill .skill-score {
    font-size: 20px !important;
}

.crb-style .sheet-content .skills .skills-pane .skills-list .skill, .crb-style .sheet-content .skills .skills-pane .lores-list .skill, .crb-style .sheet-content .skills .skills-pane .martial-list .skill {
    grid: "score name btn" min-content/35px 2fr 1fr !important;
}